* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0f4f7d;
  font-family: Poppins;
}

.main_container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto auto;
}

.child_container_one {
  width: 610px;
  height: 926px;
  top: 50px;
  left: 105px;
  border-radius: 31px;
  background: #ffffff;
  margin-top: 30px;
}

.img_one {
  width: 150px;
  height: 51px;
  top: 76px;
  left: 130px;
  margin-left: 20px;
  margin-top: 5px;
}

.content h2 {
  width: 254px;
  height: 78px;
  top: 197px;
  left: 285px;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 180px;
}

.content p {
  width: 409px;
  height: 126px;
  top: 295px;
  left: 205px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 80px;
}

.img_two {
  width: 593px;
  height: 549px;
  top: 442px;
  left: 115px;
}

.child_container_two {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.content h5 {
  width: 552px;
  height: 48px;
  top: 361px;
  left: 782px;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

#p1 {
  width: 347px;
  height: 36px;
  top: 440px;
  left: 884px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #eeeeee;
  margin-bottom: 50px;
}
progress {
  width: 530px;
  height: 40px;
  top: 553px;
  left: 793px;
  border-radius: 4px;
  border: 2px;
  border: 2px solid #ffffff;
  padding: 3px;
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: #ffcc00;
  border-radius: 4px;
}
#p2 {
  width: 407px;
  height: 36px;
  top: 627px;
  left: 854px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #eeeeee;
}

@media screen and (max-width: 1024px) {
  .main_container {
    width: 90%;
  }
  .child_container_one {
    margin-left: 0;
    width: 50%;
  }
  #img-2 {
    width: 75%;
    height: 75%;
    margin-top: 10%;
  }
  .content h2 {
    width: 90%;
    margin-left: 0;
    font-size: 40px;
    padding-left: 2%;
    margin-top: 15px;
  }
  .content p {
    width: 90%;
    font-size: 28px;
    padding-left: 25px;
    margin-top: 40px;
  }
  .child_container_two {
    width: 90%;
  }
  progress {
    width: 80%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .main_container {
    padding: 0;
    margin: 0;
    width: 90%;
    flex-direction: column;
  }
  .child_container_one {
    margin-left: 15%;
    width: 80%;
    height: 80%;
  }
  #img-2 {
    width: 90%;
    height: 90%;
    margin-top: 10%;
  }
  .content h2 {
    width: 90%;
    margin-left: 0;
    font-size: 40px;
    padding-left: 2%;
    margin-top: 15px;
  }
  .content p {
    width: 90%;
    font-size: 28px;
    padding-left: 25px;
    margin-top: 40px;
  }
  .child_container_two {
    width: 80%;
    margin-left: 15%;
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  body {
    background-image: linear-gradient(
        45deg,
        rgba(12, 12, 12, 0.705),
        rgb(3, 43, 84)
      ),
      url(senior-woman-taking-online-class-her-laptop-home\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .main_container {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  .child_container_one {
    display: none;
  }
  .child_container_two {
    width: 79%;
  }
  .img_three {
    width: 60%;
    height: 21px;
    top: 50px;
    left: 30px;
    margin-left: 5%;
    margin-bottom: 40%;
  }
  .content h5 {
    font-size: 24px;
    width: 90%;
    padding-left: 5%;
  }
  #p1 {
    font-size: 20px;
  }
  #p2 {
    width: 90%;
    font-size: 20px;
    font-weight: 400px;
    padding-left: 3%;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  body {
    background-image: linear-gradient(
        45deg,
        rgba(12, 12, 12, 0.705),
        rgb(3, 43, 84)
      ),
      url(senior-woman-taking-online-class-her-laptop-home\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .main_container {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  .child_container_one {
    display: none;
  }
  .child_container_two {
    width: 79%;
  }
  .img_three {
    width: 60%;
    height: 21px;
    top: 50px;
    left: 30px;
    margin-left: 5%;
    margin-bottom: 40%;
  }
  .content h5 {
    font-size: 24px;
    width: 90%;
    padding-left: 5%;
  }
  #p1 {
    font-size: 20px;
  }
  #p2 {
    width: 90%;
    font-size: 20px;
    font-weight: 400px;
    padding-left: 3%;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  body {
    background-image: linear-gradient(
        45deg,
        rgba(12, 12, 12, 0.705),
        rgb(3, 43, 84)
      ),
      url(senior-woman-taking-online-class-her-laptop-home\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .main_container {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  .child_container_one {
    display: none;
  }
  .child_container_two {
    width: 60%;
  }
  .img_three {
    width: 60%;
    height: 21px;
    top: 50px;
    left: 30px;
    margin-left: 20%;
    margin-bottom: 40%;
  }
  .content h5 {
    font-size: 24px;
    width: 90%;
    padding-left: 13%;
  }
  #p1 {
    font-size: 20px;
    margin-left: 2%;
  }
  progress {
    width: 70%;
    margin-left: 20%;
  }
  #p2 {
    width: 90%;
    font-size: 18px;
    font-weight: 400px;
    padding-left: 12%;
  }
}
@media screen and (min-width: 768px) and (max-width: 2707px) {
  .img_three {
    display: none;
  }
}
